<div id="home-content">
    <div class="col-xs-6 camera-model" id="canon">
        <h1><a ui-sref="canon" class="cameraLogo col-md-12 col-sm-6 col-xs-6">Canon</a></h1>
    </div>

    <div class="col-xs-6 camera-model" id="nikon">
        <h1><a ui-sref="nikon" class="cameraLogo col-md-12 col-sm-6 col-xs-6">Nikon</a></h1>
    </div>

    <div class="col-xs-6 camera-model" id="sony">
        <h1><a href="#" class="cameraLogo col-md-12 col-sm-6 col-xs-6">Sony</a></h1>
    </div>

    <div class="col-xs-6 camera-model" id="olympus">
        <h1><a href="#" class="cameraLogo col-md-12 col-sm-6 col-xs-6">Olympus</a></h1>
    </div>
</div>