<div class="jumbotron">
    <div class="row text-center">

        <h1 class="cover-heading"><a href="/canon" class="cameraLogo"><img src="assets/img/canon_logo.png" alt="Canon" class="col-md-6 col-md-offset-3 col-xs-12" /></a></h1>

    </div>

    <div class="row">
        <div class="col-md-12" id="">

            <div class="page-header">
                <h2 class="">Choose what style of photography you need a lens for...</h2>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4" id="">
            <h3><a ui-sref="canonLandscape" class="ghost-button">Landscape</a></h3>
        </div>

        <div class="col-md-4" id="">
            <h3><a ui-sref="canonPortrait" class="ghost-button">Portrait</a></h3>
        </div>

        <div class="col-md-4" id="">

            <h3><a ui-sref="canonSports" class="ghost-button">Sports</a></h3>

        </div>

    </div>

    <div class="row">

        <div class="col-md-4" id="">

            <h3><a ui-sref="canonWildlife" class="ghost-button">Wildlife</a></h3>

        </div>

        <div class="col-md-4" id="">

            <h3><a ui-sref="canonMacro" class="ghost-button">Macro</a></h3>

        </div>

        <div class="col-md-4" id="">

            <h3><a ui-sref="canonTravel" class="ghost-button">Travel</a></h3>

        </div>

    </div>
</div> <!-- end container -->
